body {
    max-width: 300px;
    margin: auto;
    background-color: black;
    text-align: center;
    display: grid;
}
body h2 {
    color: #3F5B8B;
    font-size: 1em;
}
main {
    background-color: white;
}
footer {
    background-color: #3F5B8B;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.read {
    grid-column: 1/2;
}
.views {
    grid-column: 2/3;
}
.comments {
    grid-column: 3/4;
}
/* * {
    margin: 0;
    border: 0;
    padding: 0;
} */
