/* importations */

@font-face {
    font-family: pocketmonk;
    src: url('/wdd130/pokemon/fonts/PocketMonk-15ze.ttf');
}
@font-face {
    font-family: pokemongb;
    src: url('/wdd130/pokemon/fonts/PokemonGb-RAeo.ttf')
}

/* site-wide styles */

header {
    display: grid;
    grid-template-columns: 100px auto;
    background-color: #016498;
    border-radius: 10px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 99%; /* Full width */
}
#logo-box {
    grid-column: 1/2;
    padding: 10px;
}
nav {
    grid-column: 2/3;
    text-align: right;
    padding: 25px;
}
nav a {
    color: #F1BE0D;
    text-shadow: 0px 0px 8px black;
    text-decoration: none;
    font-size: 4em;
    padding: 25px;
    margin: 0 auto;
}
nav a:hover {
    /* color:#606E6A; */
    background-color: #FEFEFE;
}
main{
    margin-top: 122px;
}
h1, h2, h3, h4, h5, h6, nav a {
    font-family: pocketmonk;
}
p {
    font-family: pokemongb;
}
footer {
    background-color: #016498;
    color: #FEFEFE;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
footer p {
    display: inline;
    padding: 10px;
}
footer a {
    color:#FEFEFE;
    padding: 10px;
}
footer a:hover {
    background-color: #FEFEFE;
    color: #606E6A;
    padding: 10px;
}

/* home-page styles */

#home-grid {
    display: grid;
    grid-template-columns: auto 500px;
}
#content-box {
    grid-column: 1/2;
    border: 7px double;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    height: fit-content;
}
#content-box img {
    float: left;
}
#professor-oak-box {
    grid-column: 2/3;
}

/* red&blue-page styles */

#pokedex-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.pokemon-box {
    border: 7px double;
    border-radius: 10px;
    margin: 2.5px;
    padding: 5px;
}
/* div {
    border: 1px solid green;
} */